body {
  display: flex;
  justify-content: center;
  width: 540px;
  height: 600px;
}

.form-container {
  border-radius: 4px;
  padding: 16px 24px;
  line-height: 150%;
  max-width: 98vw;
  width: 540px;
  border: none;
  p {
    margin: 0px;
  }
  
}

.left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }
  p {
    margin: 0px;
    text-wrap: nowrap;
  }
  p:nth-child(2) {
    margin-top: -5px;
  }
}

.basic-info {
  margin-top: 20px;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #cbc5d0;
  align-items: center;
}

label {
  display: block;
  margin: 8px 0 4px;
  font-weight: 400;
  font-size: 14px;
  text-wrap: nowrap;
}

.input-select {
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  box-sizing: border-box;
}

.row {
  display: grid;
  gap: 16px;
  margin-top: 8px;
}

.input-group {
  flex: 1;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.set-button, .cancel-button {
  padding: 6px 12px;
  border-radius: 8px;
}

.set-button:hover {
  background-color: #0056b3;
}

.cancel-button:hover {
  background-color: #79757c;
}

.right:hover {
  opacity: 0.6; 
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}